In [4]:
import pandas as pd

In [7]:
rating = pd.read_csv('../ratings.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../rags.csv'

In [13]:
rating.tail(50)

          userId  movieId  rating   timestamp
27753394  283228     2300     4.0  1354137272
27753395  283228     2405     3.5  1354118843
27753396  283228     2420     3.5  1354159787
27753397  283228     2511     5.0  1379882745
27753398  283228     2571     5.0  1354137530
27753399  283228     2616     4.0  1354118846
27753400  283228     2688     3.5  1354118860
27753401  283228     2791     5.0  1379882953
27753402  283228     2872     4.5  1354118833
27753403  283228     2944     4.5  1354118819
27753404  283228     2948     4.5  1354159780
27753405  283228     3020     4.0  1354118850
27753406  283228     3033     2.5  1354159774
27753407  283228     3088     5.0  1354137193
27753408  283228     3096     4.5  1379882783
27753409  283228     3108     4.0  1354118773
27753410  283228     3114     4.5  1379882803
27753411  283228     3176     4.0  1354159768
27753412  283228     3257     3.0  1354159763
27753413  283228     3334     4.5  1354137262
27753414  283228     3360     4.0  1354137311
27753415  283228     3361     5.0  1354118812
27753416  283228     3363     4.5  1354159754
27753417  283228     3386     4.0  1354118791
27753418  283228     3555     3.5  1354118815
27753419  283228     3578     5.0  1379882818
27753420  283228     3897     4.5  1379882900
27753421  283228     4310     3.0  1354118775
27753422  283228     4886     5.0  1379882828
27753423  283228     4995     4.0  1379882723
27753424  283228     5120     4.5  1379882757
27753425  283228     5502     3.5  1354159739
27753426  283228     5602     4.0  1379882734
27753427  283228     5706     1.0  1354159591
27753428  283228     5989     4.5  1379882974
27753429  283228     6377     5.0  1379882837
27753430  283228     6874     4.0  1354159613
27753431  283228     7072     5.0  1379882920
27753432  283228     7091     4.5  1379882761
27753433  283228     7121     4.0  1379882896
27753434  283228     7132     4.5  1379882876
27753435  283228     7215     4.5  1354137333
27753436  283228     7831     5.0  1379882907
27753437  283228     7834     5.0  1379882865
27753438  283228     8228     5.0  1354137317
27753439  283228     8542     4.5  1379882795
27753440  283228     8712     4.5  1379882751
27753441  283228    34405     4.5  1379882889
27753442  283228    44761     4.5  1354159524
27753443  283228    54286     4.5  1354159718

In [11]:
rating.groupby('userId').count()

        movieId  rating  timestamp
userId
1            16      16         16
2            15      15         15
3            11      11         11
4           736     736        736
5            72      72         72
...         ...     ...        ...
283224      329     329        329
283225       20      20         20
283226       11      11         11
283227       17      17         17
283228      113     113        113

[283228 rows x 3 columns]

In [8]:
tag = pd.read_csv('../tags.csv')
tag.head()

   userId  movieId           tag   timestamp
0      14      110          epic  1443148538
1      14      110      Medieval  1443148532
2      14      260        sci-fi  1442169410
3      14      260  space action  1442169421
4      14      318  imdb top 250  1442615195

In [12]:
rating.head(700)

     userId  movieId  rating   timestamp
0         1      307     3.5  1256677221
1         1      481     3.5  1256677456
2         1     1091     1.5  1256677471
3         1     1257     4.5  1256677460
4         1     1449     4.5  1256677264
..      ...      ...     ...         ...
695       4     7704     4.0  1127947061
696       4     7810     4.0  1113766720
697       4     7811     4.0  1123989697
698       4     7812     4.0  1145937567
699       4     7841     4.5  1113766661

[700 rows x 4 columns]